@mixin sizes($value, $color) {
    font-size: $value;
    color: $color;
}



%flexCenter {
    display: flex;
    align-items: center;
}

%jaCenter {
    display: flex;
    align-items: center;
    justify-content: center;
}

%buttonItems {
    border-radius: 50px;
    outline: none;
    border: none;
}

.containerInterior {
    @extend %flexCenter;
    width: 100%;
    height: 600px;

    &All {
        width: 1180px;
        height: 500px;
        margin: 0 auto;

        .containerInteriorTitle {
            @include sizes(25px, #2A2A2A);
            margin-bottom: 5rem;
        }

        .containerInteriorGrid {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            align-items: center;

            gap: 8rem;

            .containerInteriorHome,
            .containerInteriorParty,
            .containerInteriorOfice {
                height: 100%;

                h4 {
                    @include sizes(25px, #545454)
                }

                h4:hover{
                    color: #E67118;
                }
                

                p {
                    @include sizes(18px, #545454)
                }

               
            }

        }
    }
}